.comment{
    border-style:none;
    text-align:right;
    padding-bottom:15px;
    padding-right:15px;
    margin-top:-5px;
}
.body{
    background-color:white;
}
.name{
    color:red;
}

.message{
    border-style:none;
    width:98%;
    max-width:98%;
    margin:5px;
    height:120px;
    text-align:left;
    outline: 0;
    
}
.name{
    width:100px;
    height:100px;
    float:left;
    margin:5px;
}
.post{
    margin-top:10px;
    border-radius:5px;
    background-color:white;
    border-style: solid;
    border-color: #cccccc;
    border-width:1px;
    width:99%;
    float:left;
    text-align:justify;
}

.container{
    max-width: 900px;
    background-color:white;
   
}
.container-fluid{
    height:100px;
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
}
.text{
    margin:10px;
    text-align:justify;
    
}
.head{
    background-color:#66afe9;
    
}
.box{
        margin-top:10px;
    border-radius:5px;
    background-color:white;
    border-style: solid;
    border-color: #cccccc;
    border-width:1px;
    width:99%;
    float:left;
    text-align:justify;
}
    
