.comment{
    border-style:none;
    text-align:right;
    padding-bottom:15px;
    padding-right:15px;
    margin-top:-5px;
}
.body{
    background-color:white;
}
.name{
    color:red;
}

.profile{
    background-color: yellow;
    width: 250px;
   padding:70px;

    margin: 0px;
    
    
}


.message{
    border-style:none;
    width:98%;
    max-width:98%;
    margin:5px;
    height:120px;
    text-align:left;
    outline: 0;
    
}
.name{
    width:100px;
    height:100px;
    float:left;
    margin:5px;
}
.post{
    margin-top:10px;
    border-radius:5px;
    background-color:white;
    border-style: solid;
    border-color: #cccccc;
    border-width:1px;
    width:99%;
    float:left;
    text-align:justify;
}

.container{
    max-width: 900px;
    background-color:white;
   
}
.container-fluid{
    height:100px;
}
.form-control:focus{
    border-color: #66afe9;
    outline: 0;
}
.text{
    margin:10px;
    text-align:justify;
    
}
.head{
    background-color:#66afe9;
    
}
.box{
        margin-top:10px;
    border-radius:5px;
    background-color:white;
    border-style: solid;
    border-color: #cccccc;
    border-width:1px;
    width:99%;
    float:left;
    text-align:justify;
}
    
img {
    content: icon;
    icon: url(mushroom.png);
    float:left;
}




	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}


